/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background-color: #FF0000;
    padding: 15px 25px;
    cursor: pointer;
    transition: all 1s;
}
.btn-primary:hover{
    background-color: #e97b36;
}

/* header section styles */

.header-section {
    width: 80%;
    max-width: 1300px;
    margin: 30px auto 100px auto;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.header-banner {
    padding: 150px 250px;
    text-align: center;
}

.header-banner p {
    color: #FFF;
    font-size: 30px;
    margin-bottom: 16px;
}

.header-banner h1 {
    color: #FFF;
    font-size: 70px;
    font-weight: 900;
}

/* main section styles */

.holyday-deals {
    width: 80%;
    margin: 0 auto;
}

.holyday-deals-content {
    text-align: center;
}

.holyday-deals-content h2 {
    color: #F00;
    font-size: 80px;
    font-weight: 700;
    font-family: 'inter';
    margin-bottom: 30px;
}

.holyday-deals-content p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'inter';
    margin-bottom: 10px;
}

.holyday-deals-content h3 {
    color: #070211;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.holyday-deals-content img {
    max-width: 600px;
}

.midnight-section {
    width: 80%;
    max-width: 1300px;
    margin: 100px auto;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-position: left center;
    border-radius: 10px;
}

.midnight-section-content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px 100px;
}

.midnight-section-text {
    max-width: 500px;
}

.midnight-section-content h2 {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
}

.midnight-section-content p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.midnight-section-img {
    max-width: 300px;
}

.info-details {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 10px;
}

.info-content {
    text-align: center;
    padding: 100px;
}

.info-text {
    margin-bottom: 30px;
}

.info-text * {
    margin-bottom: 15px;
}

.info-text h4 {
    color: #070211;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
}

.info-text h4 span {
    color: #F00;
}

.gift-container {
    width: 80%;
    max-width: 1300px;
    margin: 100px auto;
}

.gift-text * {
    margin-top: 16px;
    font-family: 'Inter';
}

.gift-text h4 {
    color: #F00;
    font-size: 20px;
    font-weight: 500;
}

.gift-text h3 {
    color: #070211;
    font-size: 40px;
    font-weight: 900;
}

.gift-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
}

.gift-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;

}

.gift-info .gift-item img {
    max-width: 350px;
}

.news-section {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto 100px auto;
}

.news-content {
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
    padding: 60px 0;
}

.news-text {
    max-width: 700px;
    margin: auto;
}

.news-text h3 {
    color: #070211;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
}

.news-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    margin-bottom: 25px;
}

.news-content form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}
.news-content form input {
    flex-grow: 1;
    padding: 17px;
    border: none;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    margin-right: 0;
}
.news-content form button{
    border-radius: 0 50px 50px 0;
}